<h1 class="text-center my-5 text-muted text-uppercase">Leave a Rating</h1>

<div class="card">
  <div class="card-body">
    <form method="POST">
      {{ attributes.rate_order_form.hidden_tag() }}

      <div class="mb-3">
        {{ attributes.rate_order_form.rating.label(class="form-label", for="rating") }}
        {{ attributes.rate_order_form.rating(id="rating", class="form-control", placeholder="Leave a rating out of 5.") }}
      </div>

      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-dark"><i class="fa-solid fa-paper-plane me-2"></i>Send</button>
      </div>
    </form>
  </div>
</div>
