<section class="search-header d-flex flex-column align-items-stretch my-4">
  <div class="border-bottom pb-3">
    <h1 class="d-flex align-items-center gap-2 fs-4">Top Results found for your search criteria...</h1>
    <span class="text-secondary">79 restaurants</span>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-3">
    <div class="d-flex flex-wrap gap-1">
      <span class="badge text-bg-dark">Pizza<a class="ms-2 text-white" href="#"><i class="fa-solid fa-xmark"></i></a></span>
      <span class="badge text-bg-dark">Pizza<a class="ms-2 text-white" href="#"><i class="fa-solid fa-xmark"></i></a></span>
    </div>

    <div class="sort-results-select-box">
      <select class="form-select">
        <option selected>Sort Results By</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</section>
