@import "components/navbar.css";
@import "components/footer.css";

/** GLOBALS **/
.flash-box .alert {
    border-radius: 0;
}

#admin-dashboard aside#aside {
    flex: 1;
    border-style: solid;
    border-width: 0 2px;
    border-color: rgb(226 232 240);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#admin-dashboard main#content {
    flex: 3;
}