<h1 class="text-center my-5 text-capitalize">
  Recharge your account's balance
</h1>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for plan_id, plan_details in attributes.plans.items() %}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-dark">
        <div class="card-header py-3 bg-dark text-white">
          <h4 class="my-0 fw-normal">{{ plan_details.title }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">€{{ plan_details.amount }}</h1>
          <p class="mt-3 lead">{{ plan_details.text }}</p>
          <a href="{{ url_for('balance.checkout', product_id=plan_id) }}" class="w-100 btn btn-lg btn-outline-dark">To Checkout</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
