<h2 class="my-3">Currently delivering to</h2>

<ul class="list-group list-group-flush">
  {% for postal_code in attributes.postal_codes %}
    <li class="list-group-item d-flex align-items-center justify-content-between">
      <span>{{ postal_code.postal_code.postal_code }}</span>
      <a href="{{ url_for('admin.delete_delivery_radius', postal_code_restaurant_id=postal_code.id) }}"><i class="fa-solid fa-x text-danger"></i></a>
    </li>
  {% else %}
    <li class="list-group-item">The list seems to be empty. Add more postal code above.</li>
  {% endfor %}
</ul>
