<h1 class="mb-3">Edit settings</h1>

<div class="card">
  <form method="POST" class="card-body">
    <div class="row">
      <div class="col-9">
        <div class="mb-3">
          {{ attributes.edit_settings_form.restaurant_name.label(class="form-label", for="restaurant_name") }}
          {{ attributes.edit_settings_form.restaurant_name(id="restaurant_name", class="form-control") }}
        </div>
        <div class="mb-3">
          {{ attributes.edit_settings_form.address.label(class="form-label", for="address") }}
          {{ attributes.edit_settings_form.address(id="address", class="form-control") }}
        </div>
        <div class="mb-3">
          {{ attributes.edit_settings_form.postal_code.label(class="form-label", for="postal_code") }}
          {{ attributes.edit_settings_form.postal_code(id="postal_code", class="form-select") }}
        </div>
        <div class="mb-3">
          {{ attributes.edit_settings_form.restaurant_description.label(class="form-label", for="restaurant_description") }}
          {{ attributes.edit_settings_form.restaurant_description(id="restaurant_description", class="form-control") }}
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          {{ attributes.edit_settings_form.image.label(class="form-label", for="image") }}
          {{ attributes.edit_settings_form.image(id="image", class="form-control") }}
        </div>
      </div>
    </div>

    <div class="d-grid">
      <button class="btn btn-dark"><i class="fa-solid fa-floppy-disk me-2"></i>Save</button>
    </div>
  </form>
</div>