<div class="row" data-masonry='{"percentPosition": true }'>
  <div class="col-4 mb-3">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/menu_1.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Menu Item 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-dark"><i class="fa-solid fa-pen-to-square me-2"></i>Edit Item</a>
        <a href="#" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Delete Item</a>
      </div>
    </div>
  </div>
  <div class="col-4 mb-3">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/menu_2.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Menu Item 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-dark"><i class="fa-solid fa-pen-to-square me-2"></i>Edit Item</a>
        <a href="#" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Delete Item</a>
      </div>
    </div>
  </div>
  <div class="col-4 mb-3">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/menu_1.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Menu Item 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-dark"><i class="fa-solid fa-pen-to-square me-2"></i>Edit Item</a>
        <a href="#" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Delete Item</a>
      </div>
    </div>
  </div>
  <div class="col-4 mb-3">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/menu_3.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Menu Item 4</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-dark"><i class="fa-solid fa-pen-to-square me-2"></i>Edit Item</a>
        <a href="#" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Delete Item</a>
      </div>
    </div>
  </div>
  <div class="col-4 mb-3">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/menu_2.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Menu Item 5</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-dark"><i class="fa-solid fa-pen-to-square me-2"></i>Edit Item</a>
        <a href="#" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Delete Item</a>
      </div>
    </div>
  </div>
</div>