<div class="row" data-masonry='{"percentPosition": true }'>
  {% for item in attributes.menu_items %}
    <div class="col-4 mb-3">
      <div class="card">
        <img src="{{ url_for('static', filename='/uploads/images/' + item.image) }}" class="card-img-top"
             alt="{{ item.item_name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <a href="{{ url_for('admin.edit_menu_item', item_id=item.id) }}" class="btn btn-dark"><i
              class="fa-solid fa-pen-to-square me-2"></i>Edit Item</a>
          <a href="{{ url_for('admin.delete_menu_item', item_id=item.id) }}" class="btn btn-danger"><i
              class="fa-solid fa-trash me-2"></i>Delete Item</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="alert alert-secondary">
      No items were yet added to the menu add one
      <a class="link-secondary" href="{{ url_for('admin.add_menu_item') }}">here</a>.
    </div>
  {% endfor %}
</div>