<section id="orders">
  <h1 class="mb-3">Orders</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ordered Items</th>
        <th scope="col">Notes</th>
        <th scope="col">Customer's Address</th>
        <th scope="col">Customer's Name</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="orders-table-body">
      {% for order in attributes.orders %}
        <tr>
          <th scope="row">{{ order.id }}</th>
          <td>
            {% for item in order.order_items %}
              <p class="m-0">{{ item.quantity }}x {{ item.item.name }}</p>
            {% endfor %}
          </td>
          <td>{{ order.wishes_text }}</td>
          <td>{{ order.customer.account.address }}</td>
          <td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
          <td>{{ "%.2f" % order.price }}€</td>
          <td>
            {% if order.status == attributes.OrderStatus.PENDING %}
              <span class="badge text-bg-primary">Pending</span>
            {% elif order.status == attributes.OrderStatus.ACCEPTED %}
              <span class="badge text-bg-secondary">In Progress</span>
            {% elif order.status == attributes.OrderStatus.COMPLETED %}
              <span class="badge text-bg-success">Done</span>
            {% elif order.status == attributes.OrderStatus.CANCELLED %}
              <span class="badge text-bg-danger">Cancelled</span>
            {% endif %}
          </td>
          <td>
            {% if attributes.transitions[order.status]|length > 0 %}
              <select
                  data-order-id="{{ order.id }}"
                  data-customer-id="{{ order.customer_id }}"
                  class="change-status-select-box form-select"
              >
                <option>Change status</option>
                {% for status in attributes.transitions[order.status] %}
                  <option value="{{ status.name }}">{{ status.value }}</option>
                {% endfor %}
              </select>
            {% else %}
              <div class="text-muted">No transitions available</div>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="8" class="text-center bg-secondary-subtle">
            No made orders yet!
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ attributes.pagination_component|safe }}
</section>