<h1 class="mb-3">Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ordered Items</th>
      <th scope="col">Notes</th>
      <th scope="col">Customer's Address</th>
      <th scope="col">Customer's Name</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <p class="m-0">Burger Menu</p>
        <p class="m-0">Coca Cola 1L</p>
      </td>
      <td>-</td>
      <td>Düsseldorfer Straße 21, 47249 Duisburg</td>
      <td>Pedro</td>
      <td>13,98 €</td>
      <td><span class="badge text-bg-primary">In Progress</span></td>
      <td>
        <select class="form-select">
          <option>Change status</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
        <p class="m-0">Crispy Chicken Box</p>
        <p class="m-0">Radler Beer - 500ml</p>
      </td>
      <td>-</td>
      <td>Karl-Jarres Straße 21, 47249 Duisburg</td>
      <td>Philipp</td>
      <td>11,98 €</td>
      <td><span class="badge text-bg-success">Done</span></td>
      <td>
        <select class="form-select">
          <option>Change status</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>